:root {
  --primary: #181818;
  --foregraund: #2d2d2d;
}
body {
  background: var(--primary);
  color: #fff;
}

.splide__arrow {
  -ms-flex-align: center;
  align-items: center;
  background: transparent !important;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  height: 3.5em !important;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1 !important;
  padding: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3.5em !important;
  z-index: 1;
}
.splide__arrow svg {
  fill: transparent !important;
  height: 3em !important;
  width: 3em !important;
}
